{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Categories{% endblock %}

{% block content %}

<section id="content" class="body">
    <h1>Categories for {{ SITENAME }}</h1>
    <ul>
        Results for the category <strong>{{ category }}</strong>:
        {% for category, articles in categories|sort %}
        {% for article in articles %}
        {{ article.url }}
        <li><a href="../{{ article.url }}">{{ category }}</a> ({{ articles|count }})</li>
        {% endfor %}
        {% endfor %}
    </ul>
</section>

{% endblock %}