{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
<!-- An about me section before the grid -->
<section id="about-me">
    <div class="about-me-container">
        <h2>About Me</h2>
        <p>Hi, I'm Oliver Davies, a Software Engineer and Designer based in Santa Cruz, California. I have a passion for
            creating beautiful games, responsive graphics, and user-friendly experiences.</p>
        <p>You can checkout some of my projects, forks and blog posts below.</p>
        <a href="https://www.artstation.com/psyferio">Art Station</a>
        <a href="https://twitter.com/psyferio">Twitter</a>
    </div>
</section>
<section id="post-grid">
    {% for post in articles_page.object_list %}
    <div class="card-container">
        <a href="{{ SITEURL }}/{{ post.url }}"></a>
        <div class="card animated-element">
            <div class="top-bar">
                <span class="card-name">{{ post.title }}</span>
            </div>
            {% if post.thumbnail %}
            <div class="card-image" style="background-image: url('{{ post.thumbnail }}')"></div>
            {% else %}
            <div class="card-image no-thumbnail"></div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</section>
{% endblock content %}