{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
<section id="post-grid">
    {% for post in articles_page.object_list %}
    <div class="card-container">
        <a href="{{ SITEURL }}/{{ post.url }}"></a>
        <div class="card animated-element">
            <div class="top-bar">
                <span class="card-name">{{ post.title }}</span>
            </div>
            {% if post.thumbnail %}
            <div class="card-image" style="background-image: url('{{ post.thumbnail }}')"></div>
            {% else %}
            <div class="card-image no-thumbnail"></div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</section>
{% endblock content %}